@import url(http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext);
body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-image: url(images.jfif);
    margin: 0;

}
main{
    width: 960px;
    margin: 0 auto;
}
header{
    width: 960px;
    height: 100px;
    background-color:darkblue;
    background-repeat: no-repeat;
    
}
header h1{
    font-family: 'Courier New', Courier, monospace, Times, serif;
    font-size: 2.5em;
    text-align: center;
    color: aqua;
    letter-spacing: 0.4em;
}
header h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: right;
}
main{
    width: 960px;
    height: 40px;
    background: url('menu_hatter.png');
    color: white;
    font-family: 'Audiowide', cursive;
}
main ul{
    margin: 0;
    padding: 10px 30px;
}

main li{
    display: inline;
    list-style-type: none;
    padding: 0 15px;
}
main a,
main a:link,
main a:visited
{
    color: rgb(221, 221, 221);
}
main a:hover{
    text-decoration: underline;
}

main a.kivalasztott
{
    color: yellow;
}
main{
    width: 960px;
    min-height: 400px;
    background-color: white;
    padding-bottom: 20px;
}

main h1{
    margin: 0;
    padding: 1em;
}
.kep{
    float: right;
    padding-right: 20px;
}
.kep img{
    width: 200px;
}
dl{
    margin: 15px;
}
dt{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0;
}
dd{
    margin-left: 50px;
}
table{
    margin: 10px auto;
    border-collapse: collapse;
}
th,td{
    border: 1px dotted rgb(42, 94, 163);
}
th{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
fieldset
{
    margin: 0 20px;
    padding: 20px;
}
