body
{
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-image: url(./photo-1542831371-29b0f74f9713.jfif);
    margin: 0;
    background-repeat: repeat-y;
    background-size: 100%;
}

header a,
header a:visited
{
    color: rgb(59, 213, 255);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header a:hover
{
    color: rgb(157, 255, 36);
}

header
{
    width: auto;
    min-height: 50px;
    background-color: rgb(0, 76, 139);
    margin: auto;
}

header h1
{
    font-family: 'Courier New', Courier, monospace, Times, serif;
    font-size: 2.5em;
    text-align: center;
    color: aqua;
    letter-spacing: 0.4em;
}
header h2
{
    font-family:'Courier New', Times, serif;
    font-size: 18px;
    text-align: right;
    color: aqua;
}
main ul
{
    margin-left: 3em;
}

main li
{
    padding-left: 0em;
    margin-left: 4em;
}
main a,
main a:link,
main a:visited
{
    color: rgb(59, 213, 255);
    
}
main a:hover
{
    color: rgb(67, 204, 33);
}

main
{
    width: 1800px;
    min-height: 400px;
    height: 400 px;
    background-color: rgba(16, 16, 71, 0.89);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(143, 229, 255);
    margin: auto;
    padding: 2px;
}
img
{
    width: 50%;
    height: 50
    %;
}


dl
{
    margin: 15px;
}
dt
{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0;
}
dd
{
    margin-left: 50px;
}
table
{
    margin: 10px auto;
    border-collapse: collapse;
}
th,td
{
    border: 3px solid rgb(13, 155, 25);
}
th{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
fieldset
{
    margin: 0 20px;
    padding: 20px;
}
footer a,
footer a:link,
footer a:visited
{
    color: rgb(59, 255, 242);
}
footer a:hover
{
    text-decoration: underline;
}
footer a.kivalasztott
{
    color: darkblue;
}
footer
{
    color: aqua;
}
nav
{
    width: 1700px;
    background-color: blue;
    margin: auto;
    margin-top: 0;
}
main h2
{
    padding-left: 1em;
}
main p
{
    padding-left: 1em;
}
main h1
{
    padding-left: 1em;
}
#B1
{
    background-image: url(./html1.webp);
}
.cim
{
    text-align: center;
}
.kep
{
    height: 50%;
    width: 35%;
    margin-left: 2em;
   
}
#I2
{
    width: 50%;
    height: 50%;
    margin-left: 70px;
}
#PHPimg
{
    width: 50%;
    height: 50%;
    margin-left: 200px;
}
#I3
{
    width: 35%;
    height: 50%;
    margin-left: 100px;
}
#F1
{
    margin-left: 200px;
}